:root {
    --primary: #ba0f16;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none;
}
.bg-primary{
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-mix{
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}
.bg-grey{
    background-color: var(--grey) !important;
}


.avatar{
    max-width: 35px;
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu{
    width: 18rem;
}
.btn-search{
    right: 5px;
}


html, body {
    height: 100%;
}

#contenedor {
    width: 100%;
}

#content{
    overflow: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.stat{
    border-right: 1px solid var(--grey);
}

 input[type="text"]{
    border: none;
    border-bottom: 1px solid #575756;
    background: transparent;
    outline: none;
    color: #0d0d0d;
    height: 40px;
    font-size: 14px;
    background-color: #f6f6f6;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    width: 35%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}

.select-css {
    border: none;
    border-bottom: 1px solid #575756;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0d0d0d;
    font-size: 14px;
    background-color: #dddcdc;
    text-decoration: none;
    
    display: inline-block;
    margin: 10px;
    width: 10%;
    border: 2x solid #f6f6f6;

    border-radius: 5px 5px 5px 5px;
    font-weight: 400;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 20px auto;
    box-shadow: 0px 0px 1px 1px  #575756;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #575756;
  }
  .select-css:focus {
    border-color: #575756;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }

.card-body label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.card-body input[type="submit"] {
    font-family: 'Merriweather', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    height: 40px;
    width: 110px;
    background: #575756;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    border-radius: 30px;    
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    -webkit-border-radius: 15px 5px 15px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-body input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #ba0f16;
}
  
.card-body input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}